body {
  padding: 0;
  margin: 0;
  background: #003973; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e5e5be,
    #003973
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e5e5be,
    #003973
  );
  font-family: "Kanit", sans-serif;
}
.par{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
.par-1{
    background-image: url(./img/earth-1756274_1920.jpg);
    width: 100%;
    height: 100vh;
  
}
.par-2{
    background-image: url(./img/astronaut-1.jpg);
    width: 100%;
    height: 100vh;
    position: relative;
}
.par-3{
    background-image: url(./img/astronaut-2.jpg);
    width: 100%;
    height: 100vh;
    position: relative;
}
.yazi{
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;

}
.yazi2{
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;

}
.yazi3{
    width: 100%;
    position: absolute;
    top: 85%;
    text-align: center;

}
.kenarlik{
    color: white;
    letter-spacing: 4px;
    font-size: 2rem;
}
.kenarlik2{
    color: rgb(0, 0, 0);
    letter-spacing: 4px;
    font-size: 2rem;
}
.kenarlik3{
    color: rgb(255, 255, 255);
    letter-spacing: 4px;
    font-size: 2rem;
}
.kenarlik:hover{
    text-shadow: 0px 0px 20px #ff0000;
 
}
.kenarlik2:hover{
    text-shadow: 0px 0px 20px #0051ff;
 
}
.kenarlik3:hover{
    text-shadow: 0px 0px 20px #ff0000;
 
}
.kutular{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.kutu{
    width: 25%;
    height: 300px;
    background-color: antiquewhite;
    margin: 30px 10px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #0051ff ;
    overflow: auto;
    opacity: 0.5;
    
}
.kutu::-webkit-scrollbar{
    display: none;
}
.kutu p {
    padding: 10px;
    text-align: left;
    text-indent: 15px;
    letter-spacing: 1.5px;
    
}
